body{
    background-color: rgb(17, 34, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

label, h2{
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
}

form{
    background-color: rgb(10, 195, 102);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 350px;
}

input[type="checkbox"] {
    margin-right: 8px;
    margin-top: 10px;
    font-size: 200%;
}

button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #3968b2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1d69d2;
}